<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
    <center>
        <h1>Weather Data API</h1>
        <h3>URL format: https://127.0.0.1:5000/api/v1/station/date</h3>
        <h3>Particular data from station and time: https://127.0.0.1:5000/api/v1/10/1988-10-25</h3>
        <h3>Particular data for stations: https://127.0.0.1:5000/api/v1/10</h3>
        <h3>Particulars data for a particular year: https://127.0.0.1:5000/api/v1/yearly/10/1988</h3>
        <br>
        <br>
        <p>{{data|safe}}</p>
    </center>
</body>
</html>
